* {
  box-sizing: border-box;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-align: center;
  margin: 0;
  margin-bottom: 50%;
  padding: 0;
  width: 100%;
}

a {
  text-align: left;
  text-decoration: none;
  text-decoration-style: none;
}

img {
  margin-top: 2em;
  display: inline;
}
